*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #212121;
}

.nav-bar{
    height: 8vh;
    width: 100vw;
    background-color: #de7171;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    


}

.primary-button{
    width: 80px;
    height: 35px;
    background-color: #449a44;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    border-radius: 5px;
    gap: 10px;
    cursor: pointer;

}

.primary-button:hover{
    border-radius: 15px;
    background-color: #4cc24c;
    transition: 1s;
    font-weight: bold;
    color: #e0d8c9;
    box-shadow: 5px 5px 5px #da1d1d;
    
}

.heading h2{
    position: absolute;
    top: 35%;
    left: 41%;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: white;
}

.all-boxes{
    height: 90vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.color-change{
    height: 20vh;
    width: 15vw;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Tahoma, Geneva, Verdana, sans-serif';
    font-weight: bold;
    border: 3px solid red;
    cursor: pointer;
}

#green-box{
    background-color: green;
    color: white;
}

#white-box{
    background-color: white;
    color: black;
}

#yellow-box{
    background-color: yellow;
    color: black;
}

#blue-box{
    background-color: blue;
    color: white;
}

.heading{
    display: block;
    flex-direction: column;
}

.color-change:hover{
    border-radius: 20px;
    transition: 0.5s;

}


